body {
  padding: 0;
  margin: 0;
  font-family: Forum, serif;
}

.hero {
  min-height: 90vh;
  background-color: #f08e80;
  color: white;
  display: inline-block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: white; */
  padding: 24px 32px;
}

.navbar .links a {
  color: white;
  text-decoration: none;
  margin-right: 16px;
  font-size: 1.2rem;
}

.navbar p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.navbar .contact {
  background-color: white;
  color: #f08e80;
  padding: 16px 24px;
  text-decoration: none;
}

.navbar .contact:hover {
  /* Was stumped so played around with this number a little */
  opacity: 0.867;
}

.hero-content {
  padding: 0 15%;
}

.tagline {
  font-size: 3.8rem;
  color: white;
  letter-spacing: 2px;
  padding: 32px 0;
}

.two-coloumn-section {
  font-size: 1.6rem;
}

.two-coloumn-section > p {
  width: 45%;
  box-sizing: border-box;
  float: left;
}

.two-coloumn-section .skills {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.two-coloumn-section .skills li {
  width: 50%;
  float: left;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 8px 0;
}

.blog-section {
  /* background-color: whitesmoke; */
  background-color: white;
  padding: 64px 0;
  display: inline-block;
}

.blog-content {
  padding: 0 15%;
}

.two-coloumn-section .blog-posts {
  width: 50%;
  float: left;
}

.blog-posts {
  margin-top: 24px;
}

.blog-heading {
  font-size: 1.3rem;
}

.blog-text {
  font-size: 1rem;
}

.blog-date {
  font-size: 0.8rem;
  color: grey;
}

.blog-posts p {
  margin: 8px 0;
}

.blog-posts .blog-date {
  margin-bottom: 32px;
}

.events-section {
  background-color: #fdf0e6;
  padding: 64px 0;
  display: inline-block;
  width: 100%;
}

.event-content {
  padding: 0 15%;
}

.events-card {
  width: 50%;
  float: left;
  margin-top: 24px;
}

.event-title {
  font-size: 1.3rem;
}

.event-location {
  font-size: 0.8rem;
}

.events-card .event-date {
  font-size: 0.6rem;
  color: grey;
  margin-bottom: 32px;
}

.events-card p {
  margin: 8px 0;
}

footer {
  background-color: black;
  color: white;
  padding: 60px;
}

.footer-content {
  text-align: center;
}

.footer-content img {
  height: 2rem;
  width: 2rem;
  margin: 0 8px;
}

@media only screen and (max-width: 1100px) {
  .hero-content {
    padding: 0 7%;
  }
}

@media only screen and (max-width: 830px) {
  .hero-content {
    padding: 0 2%;
  }
  .blog-content,
  .event-content {
    padding: 0 8%;
  }
  .tagline {
    font-size: 2.5rem;
    margin: 0;
  }
  .two-coloumn-section > p {
    width: 100%;
  }
  .two-coloumn-section .skills {
    width: 100%;
  }
  .two-coloumn-section .blog-posts {
    width: 100%;
  }
  .section-heading {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  .tagline {
    font-size: 2rem;
  }
  .links{
    display: none;
  }
}
